.home-container{
  height: 700px;
  width: auto;
  background-image: url(../../../assets/images/heroes.jpg);
}

h1, h2{
  margin-left: 30px;
  font-family: DragonLands;
  color: rgb(236, 238, 226);
  outline-offset: rgb(58, 39, 34);
}

.heroes{
  color: rgb(58, 39, 34);
}

h1{
  font-size: 80px;
}
