
@font-face {
  src: url("assets/fonts/Dragonlands-KeZ7.ttf");
  font-family: Dragonlands;
}

@font-face {
  src: url("assets/fonts/Helicopta-YwXj.ttf");
  font-family: Helicopta;
}

@font-face {
  src: url("assets/fonts/Goddess-OL74.ttf");
  font-family: Goddess;
}

@font-face {
  src: url("assets/fonts/SEVESBRG.TTF");
  font-family: Seven;
}

@font-face {
  src: url("assets/fonts/strandall.zip");
  font-family: Strandall;
}
